<div id="testeira" class="container_16 clearfix">
  <%= render :partial => "layouts/faixa_login" %>
  <div id="logo_e_cidade_corrente" class="grid_16 clearfix">
    <div class="grid_11 alpha">
    <h1 id="logo">
      <%= link_to "USPOcupa", root_url %>
    </h1>
    <h2 id="USP">Crie e apoie propostas para uma cidade melhor</h2>

    </div>
    <div class="grid_5 omega">
      <% if logged_in? %>
        <ul id="bots_acao">
            <li>
              <%= link_to "Aponte um Problema",
                          novo_topico_url(:topico_type => "problema"),
                          :id => "link_novo_problema",
                          :class => "botao",
                          :title => "Aponte um Problema" %>
            </li>
            <li>
              <%= link_to "Crie uma Proposta",
                          novo_topico_url(:topico_type => "proposta"),
                          :id => "link_nova_proposta",
                          :class => "botao",
                          :title => "Crie uma Proposta" %>
            </li>
        </ul>
      <% end %>
    </div>
  </div>
</div> <!-- testeira -->
